#Dataset

In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
url = "https://archive.ics.uci.edu/static/public/697/predict+students+dropout+and+academic+success.zip"
csv_file = "predict+students+dropout+and+academic+success.csv"

df = pd.read_csv(url, compression='zip', sep=';')

In [28]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [29]:
df.isnull().sum().sum()

0

In [30]:
df.shape

(4424, 37)

#KORELASI

In [31]:
correlation_matrix = df.corr()
high_correlation = correlation_matrix[correlation_matrix > 0.8]
high_correlation = high_correlation[high_correlation < 1.0].dropna(axis=0, how='all').dropna(axis=1, how='all')

high_correlation

<ipython-input-31-110b7633beba>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation_matrix = df.corr()

,Mother's occupation,Father's occupation,Curricular units 1st sem (credited),Curricular units 1st sem (enrolled),Curricular units 1st sem (approved),Curricular units 1st sem (grade),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade)
Mother's occupation,NaN,0.910472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Father's occupation,0.910472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Curricular units 1st sem (credited),NaN,NaN,NaN,NaN,NaN,NaN,0.944811,NaN,NaN,NaN
Curricular units 1st sem (enrolled),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.942627,NaN,NaN
Curricular units 1st sem (approved),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.904002,NaN
Curricular units 1st sem (grade),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.83717
Curricular units 2nd sem (credited),NaN,NaN,0.944811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Curricular units 2nd sem (enrolled),NaN,NaN,NaN,0.942627,NaN,NaN,NaN,NaN,NaN,NaN
Curricular units 2nd sem (approved),NaN,NaN,NaN,NaN,0.904002,NaN,NaN,NaN,NaN,NaN
Curricular units 2nd sem (grade),NaN,NaN,NaN,NaN,NaN,0.83717,NaN,NaN,NaN,NaN

In [32]:
df = df.drop(["Mother's occupation",'Curricular units 2nd sem (credited)', 'Curricular units 2nd sem (enrolled)','Curricular units 2nd sem (approved)',"Curricular units 2nd sem (grade)"], axis=1)

#PREPROCESSING

In [33]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['Target'] = label_encoder.fit_transform(df['Target'])

In [34]:
X = df.drop('Target',axis=1)
y = df['Target']

In [35]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler()
X, y = ros.fit_resample(X, y)

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#MODEL

In [41]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.8914027149321267

In [42]:
from xgboost import XGBClassifier
model = XGBClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.8853695324283559

In [43]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors=5)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.5950226244343891

In [44]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.5610859728506787

In [45]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.3273001508295626

In [46]:
from sklearn.ensemble import VotingClassifier
rf_model = RandomForestClassifier()
xgb_model = XGBClassifier()
voting_model = VotingClassifier(estimators=[('Random Forest', rf_model), ('XGBClassifier', xgb_model)])
voting_model.fit(X_train, y_train)
y_pred = voting_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.8793363499245852

In [47]:
from sklearn.ensemble import AdaBoostClassifier
rf_model = RandomForestClassifier()
xgb_model = XGBClassifier()
boosting_model = AdaBoostClassifier(base_estimator=rf_model, n_estimators=50)
boosting_model.fit(X_train, y_train)
y_pred = boosting_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

Akurasi: 0.8876319758672699

In [48]:
from sklearn.ensemble import StackingClassifier
rf_model = RandomForestClassifier()
xgb_model = XGBClassifier()
stacking_model = StackingClassifier(estimators=[('Random Forest', rf_model), ('XGBClassifier', xgb_model)])
stacking_model.fit(X_train, y_train)
y_pred = stacking_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Akurasi: 0.9034690799396682

In [49]:
from sklearn.model_selection import GridSearchCV
rf_model = RandomForestClassifier()
xgb_model = XGBClassifier()
stacking_model = StackingClassifier(
    estimators=[('rf', rf_model), ('xgb', xgb_model)]
)
param_grid = {
    'rf__n_estimators': [100, 200, 300],
    'xgb__max_depth': [3, 5, 7],
    'xgb__learning_rate': [0.1, 0.01, 0.001]
}
grid_search = GridSearchCV(stacking_model, param_grid, cv=5)
grid_search.fit(X_train, y_train)
print("Parameter terbaik:", grid_search.best_params_)

best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Akurasi:", accuracy)

Parameter terbaik: {'rf__n_estimators': 300, 'xgb__learning_rate': 0.01, 'xgb__max_depth': 3}
Akurasi: 0.9004524886877828